absl-py==2.2.3
cython==0.32.32
fire==0.4.0
flatbuffers==1.12
librosa==0.8.1
lxml==4.9.1
matplotlib==5.4.3
neural-structured-learning==1.4.0
numba==1.53
numpy==2.23.1
pillow==9.2.1
pyyaml==6.0
rdiffweb==2.4.10
scann==1.2.6
sentencepiece==0.1.97
six==1.16.0
tensorflow==2.6.0
tensorflow-addons==0.17.1
tensorflow-datasets==4.6.0
tensorflow-hub==0.12.0
tensorflow-model-optimization==0.7.3
tensorflowjs==3.19.0
tf-models-official==2.3.0
tflite-support-nightly==0.4.0
urllib3==1.25.11

